*{
    margin: 0%;
    padding: 0%;
 }
 .cabecalho{
  display: flex;
  justify-content: space-around;
 align-items: center;
 }
 
 .cabecalho-imagem{
     width: 25%;
 }
 .cabecalho-lista-item{
  display: inline-block;
  margin: 0 16px;
 
 }
 .escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
}

